:root {
  --background-color: #363232;
  --text-color: #fff;
  --black-text-color: #000;
  --accent-color: #fa2828;
  --accent-light-color: rgb(255 82 82 / 98%);
  --card-background-color: #4d4747;
  --card-info-color: #988f8f;
  --card-ribbon-color: #c4c4c4;
  --card-actors-color: #e5e5e5;
}

@font-face {
  font-family: Roboto;
  src:
    url(/font/roboto.woff2) format(woff2),
    url(/font/roboto.ttf) format(truetype);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  padding: 0 0 40px;
  margin: 0;
}
